* {
 margin: 0;
font-family: proximanova-regular,Arial, sans-serif;
}

.container{
    padding: 3rem;
}

h1{
    font-size: 2em;
    font-weight: 400;
    margin: 2rem 0;
}
h4{
    font-size: 1.8rem;
    margin: 1rem 0;
}
p{
    line-height: 2;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 1rem 0;
}
.text-container{
    width: 80vw;
}
.input{
    border:none;
    width: 400px;
    height: 32px;
    font-size: 1.2rem;
    font-weight: 100;
    width: auto;
    border-bottom: 2px solid rgb(111,111,11);
    color: rbg(111,111,111);
    margin: 2rem;
}
.input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}
.addForm{
    display:flex;
    flex-direction: column;
    margin: 2rem;
}
input{
    border:none;
    width: 400px;
    height: 32px;
    font-size: 1.2rem;
    font-weight: 100;
    width: auto;
    border-bottom: 2px solid rgb(111,111,11);
    color: rbg(111,111,111);
    
}
input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}
.home-container{
    margin-top: 8rem;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 400px;
}
.form-input{
    display:flex;
    margin: 1rem !important;
}