@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
 margin: 0;
/* font-family: proximanova-regular,Helvetica, Arial, sans-serif; */
font-family: 'Open Sans', sans-serif;
    
}

.container{
    padding: 3rem;
    margin: 2rem;
    font-size: 12px !important;
    color: #747474;
}
.adminSection{
    display: flex;
    flex-direction: row;
    
}
.sidemenu{
    flex:1;
}
.adminContainer{
    flex:4;
}

h1{
    font-size: 2em;
    font-weight: 400;
    margin: 2rem 0;
}
h4{
    font-size: 1.8rem;
    margin: 1rem 0;
}
p{
    line-height: 2;
    font-size: 1.2em;
    font-weight: 200;
    margin: 1rem 0;
}
.text-container{
    width: 80vw;
}
.image-side{
    align-content: center;
}
.image-side img{
    width: 80%;
}


.input{
    border:none;
    width: 400px;
    height: 32px;
    font-size: 1.2rem;
    font-weight: 100;
    width: auto;
    border-bottom: 2px solid rgb(111,111,11);
    color: rbg(111,111,111);
    margin: 2rem;
}
.input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}
.addForm{
    display:flex;
    flex-direction: column;
    margin: 2rem;
}
input{
    border:none;
    width: 400px;
    height: 32px;
    font-size: 1.2rem;
    font-weight: 100;
    width: auto;
    border-bottom: 2px solid rgb(111,111,11);
    color: rbg(111,111,111);
    
}
input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}
.home-container{
    margin-top: 8rem;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 400px;
}
.form-input{
    display:flex;
    margin: 1rem !important;
}